{% extends 'base.html' %} {% block title %}Django Quiz App{% endblock %} {% block content %}
<div class="container">
  <h1 class="text-center text-white mt-5">Quiz</h1>
  <div class="question-box col-md-6 m-auto mt-3">
    <form method="post">
      {% csrf_token %}
      <h2>{{ question }}</h2>
      {% for answer in question.answers.all %}
      <input type="radio" name="answer" value="{{ answer.id }}" /> {{ answer }}<br />
      {% endfor %}
      <button type="submit" name="button" value="get_details" class="btn btn-danger">Submit</button>
      <button type="submit" name="button" value="next_question" class="btn btn-success">Next</button>
    </form>
  </div>
</div>
{% endblock %}
